* {
    padding: 0;
    margin: 0;
}

body {
    background-color: skyblue;
}


/* Header Styles */
.container {
    display: flex;
    background-color: blueviolet;
    width: 90%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    border-radius: 10px;
}

.container img{
    width: 100px;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.nav li {
    font-size: 20px;
    list-style-type: none;
}

.link  {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

/* Header Styles end */


/* Footer Styles  */
footer {
    background-color: white;
    width: 100%;
    height: 50px;
    margin: auto;

}

.footer {
    width: 100%;
    height: 50px; ;
    margin: auto;
}

footer p {
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-style: italic;
}
/* Footer Styles end  */


/* banner */
.main {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.left {
    width: 45%;
    height: 60vh;
    display: flex;
    justify-content: center;


}
.banner-img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-top: 50px;
}

.right {
    
    width: 45%;
    height: 60vh;

}

.title{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.desc {
    color: yellow;
    font-size: 30px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    overflow: scroll;
    margin-top: 50px;
}

/* card section */

.card{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.card-conatiner{
    background-color: aqua;
    width: 300px;
    border-radius: 24px;
    
}

.card-conatiner img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.card-desc{
    font-size: 20px;
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 30px;
}

.price {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.btn {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 12px;
}

